header {
  background: #302b2b;
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-align: center;
}

header a {
  color: #fff;
  padding: 0 1rem;
  text-decoration: none;
}

h1 { 
  text-align: center;
}

.container {
  max-width: 900px;
  padding-left: 2rem;
  padding-right: 2rem;
  margin: 0 auto;
}

main {
  min-height: calc(100vh - 85px - 22px);
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.active-link {
  color: #1e9bed;
  cursor: default;
}